 #headings h3 {
     text-align: center;
     margin: 0px 0px 30px 0px;
     padding: 21px 0px 0px 10px;
 }

 #headings p {
     text-align: center;
     margin-bottom: 49px;
 }

 .img {
     width: 100px;
     display: block;
     margin: auto;
 }

 .myCard {
     width: 291px;
     height: 229px;
     margin: 10px;
     border: 2px solid red;
 }

 .mycard h3 {
     margin: 28px 0px 34px !important;
     text-align: center;
 }


 .row {

     justify-content: center;


 }

 .mainBox2 {
     background-color: yellow;
     min-height: 100vh;
 }